/* theme: frost */
* {
    th-bg:            rgba(255, 255, 255, 96%);
    th-fg:            rgb(36, 41, 47);
    th-fg-selected:   rgba(36, 41, 47, 100%);
    th-row-alt:       rgba(241, 244, 247, 0.96);
    th-row-selected:  rgba(221, 244, 255, 0.96);
    th-border-color:  rgba(170, 180, 192, 0.95);
    th-separator:     rgba(197, 205, 214, 0.9);
}
