/* theme: argvus-dark */
* {
    th-bg:            rgba(17, 19, 22, 88%);
    th-fg:            rgb(53, 144, 189);
    th-fg-selected:   rgba(223, 229, 234, 100%);
    th-row-alt:       rgba(53, 144, 189, 7%);
    th-row-selected:  rgba(38, 41, 51, 0.88);
    th-border-color:  rgba(53, 144, 189, 0.36);
    th-separator:     rgba(105, 91, 87, 0.52);
}
